<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="/admin/images/backgrounds/02.jpg">
    <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">       
        <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" src="/admin/images/logo/logo.png"/>
            <h3 class="brand-text">Chameleon</h3></a></li>
        <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
    </ul>
    </div>
    <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="active"><a href="index.html"><i class="ft-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
        </li>
        <li class=" nav-item"><a><i class="ft-server"></i><span class="menu-title" data-i18n="">Category</span></a>
            <ul class="menu-content">
                <li><a class="menu-item" href="/admin/category?type=brand">Category by Brand</a>
                </li>
                <li><a class="menu-item" href="/admin/category?type=style">Category by Style</a>
                </li>
                <li><a class="menu-item" href="/admin/category?type=size">Category by Size</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a><i class="ft-server"></i><span class="menu-title" data-i18n="">Product</span></a>
            <ul class="menu-content">
                <li><a class="menu-item" href="/admin/product">Product Manager</a>
                </li>
                <li><a class="menu-item" href="/admin/product/add">Add Product</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a><i class="ft-server"></i><span class="menu-title" data-i18n="">Order</span></a>
            <ul class="menu-content">
                <li><a class="menu-item" href="/admin/order">Order Confirmed</a>
                </li>
                <li><a class="menu-item" href="/admin/orderNotConfirm">Order not confirmed</a>
                </li>
            </ul>
        </li>
        <li class=" nav-item"><a href="icons.html"><i class="ft-droplet"></i><span class="menu-title" data-i18n="">Icons</span></a>
        </li>
        <li class=" nav-item"><a href="cards.html"><i class="ft-layers"></i><span class="menu-title" data-i18n="">Cards</span></a>
        </li>
        <li class=" nav-item"><a href="buttons.html"><i class="ft-box"></i><span class="menu-title" data-i18n="">Buttons</span></a>
        </li>
        <li class=" nav-item"><a href="typography.html"><i class="ft-bold"></i><span class="menu-title" data-i18n="">Typography</span></a>
        </li>
        <li class=" nav-item"><a href="tables.html"><i class="ft-credit-card"></i><span class="menu-title" data-i18n="">Tables</span></a>
        </li>
        <li class=" nav-item"><a href="form-elements.html"><i class="ft-layout"></i><span class="menu-title" data-i18n="">Form Elements</span></a>
        </li>
        <li class=" nav-item"><a href="https://themeselection.com/demo/chameleon-admin-template/documentation"><i class="ft-book"></i><span class="menu-title" data-i18n="">Documentation</span></a>
        </li>
    </ul>
    </div><a class="btn btn-danger btn-block btn-glow btn-upgrade-pro mx-1" href="https://themeselection.com/products/chameleon-admin-modern-bootstrap-webapp-dashboard-html-template-ui-kit/" target="_blank">Download PRO!</a>
    <div class="navigation-background"></div>
</div>